//grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 8rem;

//color
$color-grey-light-1: #f7f7f7;    
$color-grey-light-2: #eee;    

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;



$color-primary-light: #ffff52;
$color-primary-dark: #ff22ff;


$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;



//font
$defaulf-font-size: 1.6rem;